@model HomematicApp.ViewModels.LoginModel

@{
    ViewData["Title"] = "Login";
    ViewData["email-placeholder"] = "Email";
    ViewData["password-placeholder"] = "Password";
    ViewData["login-button"] = "Login";
    ViewData["failure-message"] = "Invalid credentials!";
}

<h3 style="text-align:center">Login to your account</h3>
<div class="container d-flex justify-content-center align-items-center">
<div class="card shadow mb-4" style="width:50%; max-width:400px">
<div class="card-body">
            <div class="form-group row">
                @if (ViewBag.LoginFailed == true)
                {
                    <div class="alert alert-danger" role="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        @ViewData["failure-message"]
                    </div>
                }
            </div>
        <form class="user" method="post" asp-action="LoginUser">
            <div style="max-width:350px">
            <input type="email" class="form-control form-control-user" asp-for="Email"
                   placeholder=@ViewData["email-placeholder"]>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="spacing"></div>
            <div style="max-width:350px">
                <input type="password" class="form-control form-control-user" asp-for="Password"
                   placeholder=@ViewData["password-placeholder"]>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div style="float:right"><a asp-controller="Authentication" asp-action="ForgotPassword">Forgot your password?</a>
        </div>
                <button type="submit" class="btn btn-primary btn-user btn-block" style="margin-top:7%">
        @ViewData["login-button"]
    </button>
</form>
</div>
</div>
</div>